h1,
h2,
h3,
h4,
h5,
h6 {
    text-align: center;
}

body {
    background-color: whitesmoke;
}

.red {
    color: red;
    background-color: blanchedalmond;
    padding: 2px;
}

p {
    padding-left: 10px;
}

hr {
    border: 1px solid green;
}

.exemplo fieldset {
    background-color: beige;
}

.exemplo pre {
    text-align: start;
    background-color: aquamarine;
    letter-spacing: 2px;
    font-size: 12px;
    padding-top: 10px;
}

.nota {
    background-color: tomato;
}

.nota p {
    padding: 20px;
}

/* Tableas */

td,
th {
    width: 100px;
}

tr {
    height: 50px;
}

table {
    margin: 2px auto;
    margin-bottom: 10px;
}

.tabela1,
.td1,
.th1 {
    border: 1px solid black;
}

.tabela2,
.th2,
.td2 {
    border: 1px solid black;
    border-collapse: collapse;
    padding-left: 6px;
}

.tabela3,
.th3,
.td3 {
    border: 1px solid white;
    border-collapse: collapse;
}

.th3,
.td3 {
    background-color: #96d4d4;
}

.tabela4,
.th4,
.td4 {
    border: 1px solid black;
    border-radius: 10px;
}

.th5,
.td5 {
    border: 1px solid black;
    border-radius: 10px;
}

.th6,
.td6 {
    border: 1px solid black;
    border-style: dotted;
}

.tabela7, .td7 {
    border: 1px solid black;
    border-collapse: collapse;
    margin: 2px 2px;
}

.td7 {
    width: max-content;
}

.tabela8, .th8, .td8 {
    border: 1px solid black;
    border-collapse: collapse;
}

.tabela8 {
    margin-top: 10px;
}

.th8, .td8 {
    padding-left: 4px;
}

.zebra:nth-child(even){
    background-color: #d6eeee;
}
.zebra>td{
    padding-left: 8px;
}